# Worksheet Example

Load the following example dataset:

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = sns.load_dataset("titanic")
# Note: if you have problems, try:
# df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

### 1: Look at the data

What does the dataset look like? (Most importantly, what are the column names)

In [3]:
df.head

<bound method NDFrame.head of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

In [5]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

## 2: Cleanup

### 2.1
Modify the dataset to provide more reasonable dtypes.
* `survived` can be bool
* `alive` can be bool (a little tricker)
* `pclass`, `sex`, `embarked`, `who`, and `embark_town` can be categorical

Remember, you are modifying the DataFrame, so you'll probably not be able to rerun this cell without rerunning the one before it.

<!--
df.survived = df.survived.astype('bool')
df.pclass = df.pclass.astype('category')
df.sex = df.sex.astype('category')
df.embarked = df.embarked.astype('category')
df.who = df.who.astype('category')
df.embark_town = df.embark_town.astype('category')
df.alive = df.alive == 'yes'
-->

In [ ]:
df[]

## 2.2
What categories does `who` come in?

## 2.3

For our purposes, we should have `child=bool`, `sex=category`, and we can drop `adult_male` and `who` columns. You can use the Python `del` statement to delete columns.

## 3: Several questions

What fraction survived the titanic (in the dataset we have)?

What fraction of children survived the Titanic?

What was the average fare of each class of adult passenger `pclass`?

## 4: Plotting

A bit tricky: Plot a stacked histogram binned over age (10 or 20 bins for 0-100) of alive vs. not alive passengers. You probably will find yourself filtering out the NaN's if you use matplotlib directly (which I think you need to).